
/* CUSTEM SCROLLBAR  */
/* width */
::-webkit-scrollbar {
    width: 10px;
    /*height: 15px;*/
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    /*background: yellow; */
     background: #555;
     border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /*background: #555; */
    background: gray;
    border-radius: 10px;
}

